<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around-center"
  fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxFlex=40 *ngIf="dish" [@visibility]="visibility" [@expand]>
    <div>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{BaseURL + dish.image}}" alt="{{dish.name}}">
        <mat-card-content>
          <p>{{dish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', next]">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div fxFlex *ngIf="dish" class="full-width" [@visibility]="visibility" [@expand]>
    <div fxLayout="column">
      <h3 mat-line>Comments</h3>

      <mat-list>
        <mat-list-item *ngFor="let comment of dish.comments" style="min-height: 80px;">
          <div fxLayout="column">
            <span mat-line>{{comment.comment}}</span>
            <span mat-line>{{comment.rating}} stars</span>
            <span mat-line>--{{comment.author}} {{comment.date | date}}</span>
          </div>
        </mat-list-item>

        <mat-list-item *ngIf="commentForm.valid">
          <div fxLayout="column">
            <span mat-line>{{commentForm.value.comment}}</span>
            <span mat-line>{{commentForm.value.rating}} stars</span>
            <span mat-line>--{{commentForm.value.author}}</span>
          </div>
        </mat-list-item>


      </mat-list>


      <div fxFlex fxFlexOffset="20px" class="form-size">
        <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field class="full-width" color="{{(formErrors.author) ? 'warn' : 'primary'}}">
              <input matInput formControlName="author" placeholder="Name" type="text" required>
              <mat-hint>
                <span [hidden]="!(formErrors.author)">
                  {{formErrors.author}}</span>
              </mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-slider min="1" max="5" formControlName="rating" thumbLabel tickInterval="1"></mat-slider>

          </p>
          <p>

            <mat-form-field class="full-width" color="{{(formErrors.comment) ? 'warn' : 'primary'}}">
              <textarea matInput formControlName="comment" placeholder="Your comment" rows="12" required>
                </textarea>
              <mat-hint>
                <span [hidden]="!(formErrors.comment)">
                  {{formErrors.comment}}</span>
              </mat-hint>
            </mat-form-field>
          </p>
          <button [disabled]="commentForm.invalid" type="submit" mat-button class="background-primary text-floral-white">Submit</button>
        </form>
      </div>
    </div>
  </div>



  <div [hidden]="dish || errMess">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>

  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

</div>